@import "./variables";

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($weight, $size, $family, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family, serif;
    color: $color;
    letter-spacing: 0.02rem;
    word-wrap: break-word;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

header {
    @include size(100%, 70vh); 
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: 0;
}

header .header-container {
    @include size(100%, 100%);
    @include flex(column, space-between, center);
}

header .header-box-one {
    @include size(100%, 15vh);
    @include flex(row, space-around, center);
    position: fixed;
    inset: 0;
    z-index: 12;
    transition: all 0.3s ease-in-out;
}

header .header-box-one.visible {
    top: 0;
    background-color: $black-medium;
    z-index: 2;
}

header .header-box-one.hidden {
    top: -100%;
}

header .header-title {
    @include size(50%, 100%);
    @include flex(column, center, center);
}

header .header-title h1 {
    @include font(100, 2rem, "Lora", $white);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header .header-navigation-box {
    @include size(50%, 100%);
    @include flex(row, center, center);
}

header .header-nav {
    @include size(100%, 100%);
    @include flex(row, center, center);
}

header .header-list {
    @include size(100%, 100%);
    @include flex(row, space-evenly, center);
    list-style: none;
}

header .header-list .item {
    @include font(100, 1.1rem, "Lora", $white);
    user-select: none;
    position: relative;
    transition: all 300ms ease-in-out;
}

header .header-list .item::after,
footer .footer-list .item::after,
footer .copyright a::after {
    display: block;
    content: "";
    border-bottom: solid 0.0625rem $white;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

header .header-list .item:hover::after,
footer .footer-list .item:hover::after,
footer .copyright a:hover::after {
    transform: scaleX(1);
}

header .header-list .item:hover,
footer .footer-list .item:hover,
footer .copyright a:hover {
    transform: translateY(-0.1rem);
    cursor: pointer;
}

header .theme-button {
    @include size(5rem, 5rem);
    @include flex(row, center, center);
}

header .switch-theme {
    @include size(2.5rem, 2.5rem);
    @include flex(row, center, center);
    @include font(100, 1.2rem, "Lora", $white);
    background-color: $black-light;
    border-radius: 6.25rem;
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    cursor: pointer;
    border: none;
    user-select: none;
    transition: all 250ms;
}

header .switch-theme:hover {
    transform: scale(1.1);
}

header .header-box-two {
    @include size(100%, 80%);
    @include flex(column, center, center);
    z-index: 1;
}

header .description {
    @include size(100%, 100%);
    @include flex(column, flex-end, center);
    padding: 0 1rem;
    gap: 1rem;
}

header .description h2 {
    @include font(100, 1.5rem, "Lora", $white);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header .description button {
    @include size(6.25rem, 2.5rem);
    @include font(100, 1rem, "Lora", $white);
    background: transparent;
    border: .0625rem solid $white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

header .description button:hover,
header .description button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
}

main {
    width: 100%;
    min-height: 100vh;
}

main .container {
    @include size(100%, 100%);
}

main .prais-box {
    @include size(100%, 30vh);
    @include flex(column, center, center);
    padding: 0 1rem;
}

main .prais-box .prais-title {
    @include font(600, 1.3rem, "Lora", $black);
    position: relative;
}

main .prais-box .prais-title::after {
    content: "";
    display: block;
    margin: 1rem auto;
    border-radius: 0.3rem;
    border-bottom: solid 0.2rem $black;
    width: 15%;
    transform: scaleX(1);
}

main .theories-box {
    @include size(100%, 70vh);
    @include flex(row, space-evenly, center);
}

main .theories-box .endurance-image,
main .theories-box .gargantua-image {
    @include size(35%, 100%);
}

main .theories-box .theories {
    @include size(30%, 100%);
    @include flex(column, center, center);
    padding: 4rem;
    background-color: $beige;
}

main .theories-box .theories h4 {
    @include font(600, 1.5rem, "Lora", $black);
}

main .theories-box .theories p {
    @include font(100, 0.9rem, "Lora", $black);
    padding: 0.5rem 0 2rem 0;
}

main .theories button {
    @include size(9rem, 2.5rem);
    @include font(100, 1rem, "Lora", $black);
    background: transparent;
    border: 0.1rem solid $black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 300ms ease-in-out;
}

main .theories .theories-button:hover,
main .theories .theories-button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
}

main .planets-cards {
    @include size(100%, 65vh);
    @include flex(column, center, center);
}

main .planets-tittle {
    @include size(100%, 30%);
    @include flex(row, center, center);
    padding: 4rem 0 2rem 0;
}

main .planets-tittle h4 {
    @include font(600, 1.8rem, "Lora", $black);
    text-transform: uppercase;
}

main .cards-container {
    @include size(100%, 100%);
    @include flex(row, center, flex-start);
    gap: 1.5rem;
    flex-wrap: wrap;
}

main .cards-container .card {
    @include size(20rem, 20rem);
    @include flex(column, flex-start, center);
    border-radius: 0.3rem;
    box-shadow: 0 0.4rem 0.4rem -0.5rem;
    transition: all 300ms ease-in-out;
}

main .cards-container .card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 1rem 1rem -0.4rem;
}

main .card .card-image {
    @include size(100%, 100%);
    user-select: none;
}

main .card .card-image img {
    @include size(100%, 100%);
    object-fit: cover;
    object-position: center;
}

main .card .card-description {
    @include size(100%, 50%);
    @include flex(column, center, flex-start);
    border: 0.01rem solid $white-medium;
    padding: 1rem 1.5rem 1rem 1.5rem;
    gap: 1.5rem;
}

main .card .card-title {
    @include size(100%, 50%);
    @include flex(row, flex-start, center);
}

main .card-description h5 {
    @include font(600, 1.2rem, "Lora", $black);
}

main .card-description p {
    @include font(100, 1rem, "Lora", $black);
}

main .card-description .planet-description {
    @include size(100%, 50%);
    @include flex(row, space-between, center);
    border-top: 0.01rem solid $white-medium;
    padding-top: 0.5rem;
}

main .planet-description p {
    @include font(100, 0.9rem, "Lora", $black);
}

main .characters-container {
    @include size(100%, 100%);
    @include flex(column, center, center);
}

main .characters-container .characters-title {
    @include size(100%, 8rem);
    @include flex(row, center, center);
    background-color: $beige;
}

main .characters-title h4 {
    @include font(600, 1.8rem, "Lora", $black);
    text-transform: uppercase;
}

main .characters-container .characters-cards {
    @include size(100%, 100%);
    @include flex(row, center, center);
    padding-top: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

main .characters-cards .character-card {
    @include size(20rem, 30rem);
    @include flex(column, center, center);
    flex-basis: calc(100% / 4 - 4rem);
    transition: all 300ms ease-in-out;
}

main .character-card .character-image {
    @include size(100%, 100%);
    overflow: hidden;
    user-select: none;
}

main .character-image img {
    @include size(100%, 100%);
    object-fit: cover;
    object-position: center;
    transition: all 300ms ease-in-out;
}

main .character-image img:hover {
    transform: scale(1.1);
    filter: grayscale(100%);
}

main .character-card .character-description {
    @include size(100%, 50%);
    @include flex(column, space-evenly, center);
}

main .character-description h5 {
    @include font(600, 1.2rem, "Lora", $black);
    position: relative;
}

main .character-description h5::after {
    content: "";
    @include size(1.5rem, 0.1rem);
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 0.1rem solid $black;
}

main .character-description p {
    @include font(100, 1rem, "Lora", $black);
}

main .characters-container .more-characters {
    @include size(100%, 7rem);
    @include flex(row, center, flex-start);
}

main .more-characters .more-characters-button {
    @include size(15rem, 2.5rem);
    @include font(100, 1rem, "Lora", $black);
    background: transparent;
    border: 0.1rem solid $black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 300ms ease-in-out;
}

main .more-characters .more-characters-button:hover,
main .more-characters .more-characters-button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
}

main .about {
    width: 100%;
    min-height: 55vh;
    @include flex(column, center, center);
    background-color: $beige;
    padding: 4rem 0;
    gap: 1rem;
}

main .about .about-title {
    @include size(100%, 50%);
    @include flex(column, flex-end, center);
}

main .about-title h4 {
    @include font(600, 1.8rem, "Lora", $black);
}

main .about .about-description {
    @include size(60%, 50%);
    @include flex(column, flex-start, center);
}

main .about-description p {
    @include font(100, 1rem, "Lora", $black);
}

footer {
    @include flex(row, normal, flex-start);
    @include size(100%, 50%);
    background-color: $black-medium;
    padding: 2.8125rem 3.125rem;
}

footer .footer-container {
    @include size(100%, 50%);
    @include flex(column, flex-start, center);
    gap: 1.5rem;
}

footer .footer-title {
    @include size(100%, 50%);
    @include flex(row, flex-start, center);
}

footer .footer-title h4 {
    @include font(600, 2rem, "Lora", $white-medium);
    text-transform: uppercase;
}

footer .footer-links {
    @include size(100%, 50%);
    @include flex(row-reverse, space-between, center);
    gap: 1.5rem;
}

footer .social {
    @include size(100%, 50%);
    @include flex(row, flex-end, center);
    gap: 1rem;
}

footer .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #33383b;
    border-radius: 0.125rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: $white;
    transition: all 0.25s;
}

footer .social a:hover {
    transform: scale(1.1);
}

footer .navigation li {
    @include font(100, 1rem, "Lora", $grey);
}

footer .footer-list {
    @include flex(row, flex-start, center);
    @include size(100%, 50%);
    font-size: 1.125rem;
    font-weight: bold;
    color: $white;
    padding: 0 0 0.625rem;
    list-style: none;
    gap: 1rem;
    transition: ease 0.25s;
}

footer .footer-list .item {
    @include font(900, 1rem, "Lora", $white);
    user-select: none;
    position: relative;
    transition: all 300ms ease-in-out;
}

footer .copyright {
    @include size(100%, 50%);
    @include flex(column, center, flex-start);
    @include font(200, 1rem, "Lora", $white-medium);
    gap: 1rem;
}

footer .copyright a {
    text-decoration: none;
    position: relative;
    color: $white-medium;
}

/* Loader */

.loader {
    @include size(100%, 100vh);
    @include flex(column, center, center);
    background-color: $black-medium;
    padding: 2rem;
    inset: 0;
    gap: 2rem;
    position: absolute;
    z-index: 999;
}

.loader p {
    @include font(600, 1.5rem, "Lora", $white);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.rocket {
    @include size(10rem, 10rem);
    filter: drop-shadow(0.0625rem 0.0625rem 0.375rem $black);
    animation: animation 2s infinite linear;
}

@keyframes animation {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

/* Darks and Lights mode */

header .switch-theme.theme-dark {
    color: $sun-color;
}

main .prais-box.theme-dark,
footer.theme-dark {
    background-color: $black-light;
}

main .prais-box .prais-title.theme-dark::after,
main .characters-container.theme-dark .character-description h5::after {
    border-bottom-color: $white;
}

main .prais-box .prais-title.theme-dark,
main .theories-box .theories.theme-dark p,
main .theories-box .theories.theme-dark h4,
main .planets-tittle.theme-dark h4,
main .planets-cards.theme-dark,
main .cards-container.theme-dark .card h5,
main .cards-container.theme-dark .card p,
main .characters-container.theme-dark .characters-title h4,
main .characters-container.theme-dark .character-card h5,
main .characters-container.theme-dark .character-card p,
main .about.theme-dark h4,
main .about.theme-dark p {
    color: $white;
}

main .theories-box .theories.theme-dark,
main .characters-container.theme-dark .characters-title,
main .about.theme-dark {
    background-color: $black-medium;
}

main .theories-box .theories.theme-dark button,
main .characters-container.theme-dark .more-characters button {
    border-color: $white;
    color: $white;
}

main .planets-cards.theme-dark,
main .characters-container.theme-dark {
    background-color: $black-light;
}

main .cards-container.theme-dark .card {
    border: 0.0625rem solid $white;
}

main .cards-container.theme-dark .card .card-description {
    border: none;
}

/* Media Queries */

@media (width <= 1024px) {
    main .planets-cards {
        min-height: 90vh;
    }

    main .characters-cards .character-card {
        flex-basis: calc(100% / 2 - 4rem);
    }
}

@media (width <= 1008px) {
    main .planets-cards {
        min-height: 140vh;
    }

    main .planets-cards .planets-tittle {
        @include size(100%, 20%);
        padding: 0;
    }
}

@media (width <= 664px) {
    main .planets-cards {
        min-height: 190vh;
    }
}

@media (width <= 768px) {
    header .header-box-one {
        @include size(100%, 25vh);
        @include flex(column, center, center);
    }

    header .header-box-one .header-nav {
        @include flex(column-reverse, space-between, center);
    }

    header .header-navigation-box {
        @include size(100%, 100%);
    }

    main .theories-box {
        @include flex(column, center, center);
        @include size(100%, 100vh);
    }

    main .theories-box .endurance-image,
    main .theories-box .gargantua-image {
        @include size(100%, 100%);
    }

    main .theories-box .theories {
        @include size(100%, 100%);
    }
}

@media (width <= 700px) {
    main .characters-cards .character-card {
        flex-basis: calc(100% / 1 - 4rem);
    }
}

@media (width <= 600px) {
    footer .footer-title {
        @include flex(column, center, center);
    }

    footer .footer-links {
        @include flex(column, center, center);
    }

    footer .social {
        @include flex(row, center, center);
    }

    footer .copyright {
        @include flex(column, center, center);
    }
}

@media (width <= 375px) {
    header .header-nav .header-list .item {
        font-size: 0.9rem;
    }

    header .description h2 {
        font-size: 1.3rem;
    }
}