* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

header {
  width: 100%;
  height: 70vh;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 0;
}

header .header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header .header-box-one {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 12;
  transition: all 0.3s ease-in-out;
}

header .header-box-one.visible {
  top: 0;
  background-color: #1a1a1a;
  z-index: 2;
}

header .header-box-one.hidden {
  top: -100%;
}

header .responsive-title-button {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .header-title {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header-title h1 {
  font-weight: 100;
  font-size: 2rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header .header-navigation-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .header-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .header-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header .header-list .item {
  font-weight: 100;
  font-size: 1.1rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  position: relative;
  transition: all 300ms ease-in-out;
}

header .header-list .item::after,
footer .footer-list .item::after,
footer .copyright a::after {
  display: block;
  content: "";
  border-bottom: solid 0.0625rem #ffffff;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

header .header-list .item:hover::after,
footer .footer-list .item:hover::after,
footer .copyright a:hover::after {
  transform: scaleX(1);
}

header .header-list .item:hover,
footer .footer-list .item:hover,
footer .copyright a:hover {
  transform: translateY(-0.1rem);
  cursor: pointer;
}

header .theme-button {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .switch-theme {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  background-color: #2d2d2d;
  border-radius: 6.25rem;
  box-shadow: 0 0.5rem 0.5rem -0.4rem;
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 250ms;
}

header .switch-theme:hover {
  transform: scale(1.1);
}

header .header-box-two {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header .description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

header .description h2 {
  font-weight: 100;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header .description button {
  width: 6.25rem;
  height: 2.5rem;
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

header .description button:hover,
header .description button:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem;
  transform: translateY(-0.25rem);
}

main {
  width: 100%;
  min-height: 100vh;
}

main .container {
  width: 100%;
  height: 100%;
}

main .prais-box {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .prais-box .prais-title {
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  position: relative;
}

main .prais-box .prais-title::after {
  content: "";
  display: block;
  margin: 1rem auto;
  border-radius: 0.3rem;
  border-bottom: solid 0.2rem #000000;
  width: 15%;
  transform: scaleX(1);
}

main .theories-box {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main .theories-box .endurance-image {
  width: 35%;
  height: 100%;
}

main .theories-box .theories {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
  background-color: #edede9;
}

main .theories-box .theories h4 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .theories-box .theories p {
  font-weight: 100;
  font-size: 0.9rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  padding: 0.5rem 0 2rem 0;
}

main .theories button {
  width: 9rem;
  height: 2.5rem;
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  background: transparent;
  border: 0.1rem solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 300ms ease-in-out;
}

main .theories .theories-button:hover,
main .theories .theories-button:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem;
  transform: translateY(-0.25rem);
}

main .theories-box .gargantua-image {
  width: 35%;
  height: 100%;
}

main .planets-cards {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .planets-tittle {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem 0;
}

main .planets-tittle h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-transform: uppercase;
}

main .cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

main .cards-container .card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 0 0.4rem 0.4rem -0.5rem;
  transition: all 300ms ease-in-out;
}

main .cards-container .card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 1rem 1rem -0.4rem;
}

main .card .card-image {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main .card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .card .card-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.01rem solid #d2d2d2;
  padding: 1rem 1.5rem 1rem 1.5rem;
  gap: 1.5rem;
}

main .card .card-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

main .card-description h5 {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .card-description p {
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .card-description .planet-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 0.01rem solid #d2d2d2;
  padding-top: 0.5rem;
}

main .planet-description p {
  font-weight: 100;
  font-size: 0.9rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .characters-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .characters-container .characters-title {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #edede9;
}

main .characters-title h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-transform: uppercase;
}

main .characters-container .characters-cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

main .characters-cards .character-card {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(25% - 4rem);
  transition: all 300ms ease-in-out;
}

main .character-card .character-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

main .character-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 300ms ease-in-out;
}

main .character-image img:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
}

main .character-card .character-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

main .character-description h5 {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  position: relative;
}

main .character-description h5::after {
  content: "";
  width: 1.5rem;
  height: 0.1rem;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 0.1rem solid #000000;
}

main .character-description p {
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .characters-container .more-characters {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

main .more-characters .more-characters-button {
  width: 15rem;
  height: 2.5rem;
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  background: transparent;
  border: 0.1rem solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 300ms ease-in-out;
}

main .more-characters .more-characters-button:hover,
main .more-characters .more-characters-button:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem;
  transform: translateY(-0.25rem);
}

main .about {
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edede9;
  padding: 4rem 0;
  gap: 1rem;
}

main .about .about-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

main .about-title h4 {
  font-weight: 600;
  font-size: 1.8rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

main .about .about-description {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

main .about-description p {
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #000000;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  background-color: #1a1a1a;
  padding: 2.8125rem 3.125rem;
}

footer .footer-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

footer .footer-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer .footer-title h4 {
  font-weight: 600;
  font-size: 2rem;
  font-family: "Lora", serif;
  color: #d2d2d2;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-transform: uppercase;
}

footer .footer-links {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

footer .social {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

footer .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #33383b;
  border-radius: 0.125rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.25s;
}

footer .social a:hover {
  transform: scale(1.1);
}

footer .navigation li {
  font-weight: 100;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #8f9296;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
}

footer .footer-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0 0 0.625rem;
  list-style: none;
  gap: 1rem;
  transition: ease 0.25s;
}

footer .footer-list .item {
  font-weight: 900;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  position: relative;
  transition: all 300ms ease-in-out;
}

footer .copyright {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 200;
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #d2d2d2;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  gap: 1rem;
}

footer .copyright a {
  text-decoration: none;
  position: relative;
  color: #d2d2d2;
}

/* Loader */
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  padding: 2rem;
  inset: 0;
  gap: 2rem;
  position: absolute;
  z-index: 2;
}

.loader p {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  color: #ffffff;
  letter-spacing: 0.02rem;
  word-wrap: break-word;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.rocket {
  width: 10rem;
  height: 10rem;
  filter: drop-shadow(0.0625rem 0.0625rem 0.375rem #000000);
  animation: animation 2s infinite linear;
}

@keyframes animation {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
/* Darks and Lights mode */
header .switch-theme.theme-dark {
  color: #f9b500;
}

main .prais-box.theme-dark,
footer.theme-dark {
  background-color: #2d2d2d;
}

main .prais-box .prais-title.theme-dark::after,
main .characters-container.theme-dark .character-description h5::after {
  border-bottom-color: #ffffff;
}

main .prais-box .prais-title.theme-dark,
main .theories-box .theories.theme-dark p,
main .theories-box .theories.theme-dark h4,
main .planets-tittle.theme-dark h4,
main .planets-cards.theme-dark,
main .cards-container.theme-dark .card h5,
main .cards-container.theme-dark .card p,
main .characters-container.theme-dark .characters-title h4,
main .characters-container.theme-dark .character-card h5,
main .characters-container.theme-dark .character-card p,
main .about.theme-dark h4,
main .about.theme-dark p {
  color: #ffffff;
}

main .theories-box .theories.theme-dark,
main .characters-container.theme-dark .characters-title,
main .about.theme-dark {
  background-color: #1a1a1a;
}

main .theories-box .theories.theme-dark button,
main .characters-container.theme-dark .more-characters button {
  border-color: #ffffff;
  color: #ffffff;
}

main .planets-cards.theme-dark,
main .characters-container.theme-dark {
  background-color: #2d2d2d;
}

main .cards-container.theme-dark .card {
  border: 0.0625rem solid #ffffff;
}

main .cards-container.theme-dark .card .card-description {
  border: none;
}

/* Media Queries */
@media (width <= 768px) {
  header .header-box-one {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .header-box-one .header-nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  header .header-navigation-box {
    width: 100%;
    height: 100%;
  }
}
@media (width <= 600px) {
  footer {
    text-align: center;
  }
  footer .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width <= 375px) {
  header .header-nav .header-list .item {
    font-size: 0.9rem;
  }
  header .description h2 {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */