@import "./variables";

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($weight, $size, $family, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family, serif;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $black-medium;
    color: $white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

header {
    @include size(100%, 70vh);
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: -1;
}

header .header-container {
    @include size(100%, 100%);
    @include flex(column, space-between, center);
    z-index: 1;
}

header .header-box-one {
    @include size(100%, 20%);
    @include flex(row, space-around, center);
}

header .header-title {
    @include size(50%, 100%);
    @include flex(column, center, center);
}

header .header-title h1 {
    @include font(100, 2rem, "Lora", $white);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header .header-navigation-box {
    @include size(50%, 100%);
    @include flex(row, center, center);
}

header .header-nav {
    @include size(100%, 100%);
    @include flex(row, center, center);
}

header .header-list {
    @include size(100%, 100%);
    @include flex(row, space-evenly, center);
    list-style: none;
}

header .header-list a {
    @include font(100, 1.2rem, "Lora", $white);
    text-decoration: none;
}

header .header-list a {
    position: relative;
    transition: all 300ms ease-in-out;
}

header .header-list a::after {
    display: block;
    content: "";
    border-bottom: solid 1px $white;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

header .header-list a:hover::after {
    transform: scaleX(1);
}

header .header-list li {
    letter-spacing: 0.1rem;
}

header .header-box-two {
    @include size(100%, 60%);
    @include flex(column, center, center);
}

header .description {
    @include size(100%, 100%);
    @include flex(column, center, center);
    gap: 1rem;
}

header .description h2 {
    @include font(100, 1.5rem, "Lora", $white);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header .description button {
    @include size(6.25rem, 2.5rem);
    @include font(100, 1rem, "Lora", $white);
    background: transparent;
    border: 1px solid $white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

header .description button:hover,
header .description button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
}

main {
    width: 100%;
    min-height: 100vh;
}

main .container {
    @include size(100%, 100%);
}

main .prais-box {
    @include size(100%, 30vh);
    @include flex(column, center, center);
}

main .prais-box h3 {
    @include font(600, 1.3rem, "Lora", $black);
    letter-spacing: 0.02rem;
    position: relative;
}

main .prais-box h3::after {
    content: "";
    display: block;
    margin: 1rem auto;
    border-radius: 0.3rem;
    border-bottom: solid 0.2rem $black;
    width: 15%;
    transform: scaleX(1);
}

main .theories-box {
    @include size(100%, 70vh);
    @include flex(row, space-evenly, center);
}

main .theories-box .endurance-image {
    @include size(35%, 100%);
}

main .theories-box .theories {
    @include size(30%, 100%);
    @include flex(column, center, center);
    text-align: center;
    padding: 4rem;
    background-color: $beige;
}

main .theories-box .theories h4 {
    @include font(600, 1.5rem, "Lora", $black);
    letter-spacing: 0.02rem;
}

main .theories-box .theories p {
    @include font(100, 0.9rem, "Lora", $black);
    letter-spacing: 0.02rem;
    padding: 0.5rem 0 2rem 0;
}

main .theories-box .theories button {
    @include size(9rem, 2.5rem);
    @include font(100, 1rem, "Lora", $black);
    background: transparent;
    border: 0.1rem solid $black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 300ms ease-in-out;
}

main .theories-box .theories button:hover,
main .theories-box .theories button:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem;
    transform: translateY(-0.25rem);
}

main .theories-box .gargantua-image {
    @include size(35%, 100%);
}

main .planets-cards {
    @include size(100%, 65vh);
    @include flex(column, center, center);
}

main .planets-tittle {
    @include size(100%, 30%);
    @include flex(row, center, center);
    padding: 4rem 0 2rem 0;
}

main .planets-tittle h4 {
    @include font(600, 1.8rem, "Lora", $black);
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

main .cards-container {
    @include size(100%, 100%);
    @include flex(row, center, flex-start);
    gap: 1.5rem;
    flex-wrap: wrap;
}

main .cards-container .card {
    @include size(20rem, 20rem);
    @include flex(column, flex-start, center);
    border-radius: 0.3rem;
    box-shadow: 0 .4rem .4rem -.5rem;
    transition: all 300ms ease-in-out;
}

main .cards-container .card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 1rem 1rem -0.4rem;
}

main .cards-container .card .card-image {
    @include size(100%, 100%);
    user-select: none;
}

main .cards-container .card .card-image img {
    @include size(100%, 100%);
    object-fit: cover;
    object-position: center;
}


main .cards-container .card .card-description {
    @include size(100%, 50%);
    border: .01rem solid #d2d2d2;
    @include flex(column, center, flex-start);
    padding: 1rem 1.5rem 1rem 1.5rem;
    gap: 1.5rem;
}

main .cards-container .card .card-title {
    @include size(100%, 50%);
    @include flex(row, flex-start, center);
}

main .cards-container .card .card-description h5 {
    @include font(600, 1.2rem, "Lora", $black);
    letter-spacing: 0.02rem;
}

main .cards-container .card .card-description p {
    @include font(100, 1rem, "Lora", $black);
    letter-spacing: 0.02rem;
}

main .cards-container .card .card-description .planet-description {
    @include size(100%, 50%);
    @include flex(row, space-between, center);
    border-top: .01rem solid #d2d2d2;
    padding-top: .5rem;
}

main .cards-container .card .card-description .planet-description p {
    @include font(100, .9rem, "Lora", $black);
    letter-spacing: 0.02rem;
}

/* Loader */

.loader {
    @include size(100%, 100vh);
    @include flex(column, center, center);
    background-color: $white;
    padding: 2rem;
    top: 0;
    left: 0;
    gap: 2rem;
    position: absolute;
}

.loader p {
    @include font(600, 1.5rem, "Lora", $black);
    text-align: center;
    letter-spacing: 0.1rem;
    word-wrap: break-word;
    text-transform: uppercase;
}

.rocket {
    @include size(10rem, 10rem);
    filter: drop-shadow(1px 1px 6px $black);
    animation: animation 2s infinite linear;
}

@keyframes animation {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
